.message{
    background-color: rgb(255, 248, 222);
    border: 1px solid rgb(255, 248, 222);
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 250px;
    overflow: hidden;
  }
  