.profilecard{
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    width: 200px;
    justify-self: center;
    background-color: rgb(193, 186, 161);
    text-decoration: underline;
    font-style: italic;
}